*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 4;
}

.pricebox{
    width: 320px;
    height: 220px;
    background-color: #dfe6e9;
    color: #000;
    top: 50%;
    left: 50%;
    padding: 35px 35px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;    
   
    z-index: 4;
}

.pricebox input{
    width: 100%;
    margin-bottom: 20px;

}
.pricebox input[type="text"]{
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
   

}

.pricebox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fff;
    color: #000;
    font-size: 18px;
    border-radius: 20px;
}

.pricebox input[type="submit"]:hover{
    cursor: pointer;
    background:#74b9ff;
    color:#000
}

.pricebox p{
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    margin-left: 43%;
    margin-top: 5px;
    margin-bottom: 25px;

}