*{
margin:0;
padding:0;
box-sizing: border-box;
}
.container{
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing:antialiased !important;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background:#dcdde1;
}

.logo{
    margin-left: 15px;
    font-size: 18px;
    font-weight: 700;
}
.logo span{
    font-style: italic;
    font-size: 16px;
    color: #c23616;
}
.menu ul{
    display: flex;
    list-style: none;
    
}
.menu ul li{
    
    margin-right: 8px;
    padding: 6px;
    color:#fff;
    font-weight: 400;
    background-color: #487eb0;
    border-radius: 5px;
}
.menu ul li:hover{
    cursor: pointer;
    background: #192a56;
    color: #dcdde1;
}
