*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: #353b48;
    line-height: 80px;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid #718093;
}
label{
    line-height: 80px;
    font-size: 30px;
    color: #fff;
    font-weight: 200px;
    margin-left: 50px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    line-height: 80px;
    margin: 0 10px;
}
nav ul li a{
    color: #fff;
    font-size: 20px;
    padding: 6px 15px;
    font-weight: 600;
    background: #718093;
    border-radius: 5px;
}
nav ul li a:hover{
    cursor: pointer;
    background-color: #dcdde1;
    color: #000;
    transition: 0.5s;
}
.side-menu{
    position: fixed;
    background: #353b48;
    width: 250px;
    height: 100%;
    margin-top: 85px;
}
.side-menu a{
    display: block;
    line-height: 60px;
    color: #fff;
    transition: 0.5s;
}
.side-menu a:hover{
    background: #40739e;
    padding-left: 20px;
}
.side-menu span{
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
}
.side-menu i{
    font-size: 20px;
    margin-left: 20px;
    color: white;
}
nav .menu-bar{
    float: right;
    margin-top: 20px;
    display: none;
    margin-right: 20px;
}
.side-menu .logout{
    display: none;
}
#menu{
    display: none;
}

@media(max-width:850px){
    .side-menu a span{
        display: none;
    }
    .side-menu{
        width: 100px;
    }
    .side-menu a i{
        display: block;
        line-height: 80px;
        text-align: center;
        margin-left: 0;
        font-size: 35px;
    }
    .data{
        margin-left: 100px;
    }
}
@media(max-width:650px){
    .data{
        display: block;
        z-index: 3;
    }
    nav ul{
        display: none;
    }
    .side-menu{
        width: 100%;
        text-align: center;
        left: 100%;
        background: #718093;
        transition: all 0.5s;
        z-index: 1;
    }
    .side-menu a i{
        display: none;
    }
    .side-menu a span{
        display: block;
    }
    .side-menu .logout{
        display: block;
    }
    nav .menu-bar{
        display: block;
    }
}
#menu:checked ~ .side-menu{
    left: 0;
}